.aux {
  color: oklch(60% 0 0);
}

.playing:first-child {
  border: 3px solid oklch(51.8% 0.253 323.949);
  border-radius: 20px;
}

.theme-0 {
  color: rgb(245, 56, 23);
}

.theme-1 {
  color: rgb(30, 102, 172);
}

.theme-2 {
  color: rgb(0, 128, 1);
}

.theme-3 {
  color: rgb(239, 187, 2);
}

.theme-4 {
  color: rgb(134, 74, 0);
}
