.aux {
  opacity: 0;
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

#translation {
  font-family: "Comic Relief", system-ui, Helvetica, Arial, sans-serif;
}
