.aux {
  color: oklch(60% 0 0);
  opacity: 0;
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

.playing:first-child span {
  color: oklch(51.8% 0.253 323.949);
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}
